[*.cs]

# Roslynator
# Add parentheses when necessary
dotnet_diagnostic.rcs1123.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# S1104: Fields should not have public accessibility
dotnet_diagnostic.S1104.severity = none

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none

# S3400: Methods should not return constants
dotnet_diagnostic.S3400.severity = none

# S3011: Reflection should not be used to increase accessibility of classes, methods, or fields
dotnet_diagnostic.S3011.severity = none

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# S1751: Loops with at most one iteration should be refactored.
# It's failing to note that it might be more than one
dotnet_diagnostic.S1751.severity = none

# S2696: Instance members should not write to "static" fields
dotnet_diagnostic.S2696.severity = none